@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --clr-background: #051622;
  --clr-primary: #1ba098;
  --clr-text: #deb992;
}
body {
  background: var(--clr-background);
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-text);
  -moz-scroll--width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
h2 {
  color: var(--clr-primary);
}
main {
  width: 80%;
  min-height: 100%;
}

/* ****** Navigation ******** */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
  z-index: 999;
}

#navbar__button {
  padding: 0.25em;
  background: transparent;
  color: var(--clr-primary);
  font-size: 1.5rem;
  border: none;
}

.navbar__links {
  background-color: rgba(5,22,34, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  overflow-y: hidden;
  transform: translateY(100%);
  border-radius: 20px;
  transition: height 500ms;
}

.navbar__showlinks {
  height: 300px;
  border: 1px solid var(--clr-primary);
}

.navbar__links li {
  width: 100%;
  text-align: center;
}
.navbar__link {
  color: var(--clr-primary);
  padding: 1.5em;
  height: 100px;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background 500ms;
}

.navbar__link:hover {
  background: black;
}

/* ******* Welcome Section ******* */
#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section::before {
  background: url(https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RhcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-color: var(--clr-background);
  background-attachment: fixed;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

#welcome-section::after {
  background: linear-gradient(rgba(5,22,34, 0.7), rgba(5,22,34,0.7));
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -5;
}

#welcome-section > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--clr-primary);
  animation: fade 1s linear;
}
#welcome-section > div{
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
  content: '';
  height: 20vh;
  background: linear-gradient(transparent 20%, var(--clr-background) 80%);
  z-index: 1;
}
h1 > span {
  color: var(--clr-text);
  font-size: 1.25rem;
  font-variant: small-caps;
}

/* ******* Project Section ******* */
#projects {
  padding: 3em 0;
}

#projects > h2 {
  margin-bottom: 1em;
  text-align: center;
}
#projects__work {  
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 1em;
  padding: 1em 0;
}

.project-tile {
  position: relative;
  width: 250px;
  height: 250px;
  border: 2px solid var(--clr-primary);
  box-shadow: 
    0px 0px 7px var(--clr-primary);
  overflow-y: hidden;
  opacity: 0;
  transform: scale(0.1);
  will-change: opacity, transform;
  transition: all 1s ease-in-out;
}

.project-tile.fade-in {
  opacity: 1;
  transform: scale(1);
}
.project-tile img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: filter 1s linear;
}

.project-tile:hover img{
  filter: blur(5px);
}
.project-tile a h4 {
  position: absolute;
  padding: 1em;
  color: var(--clr-primary);
  top: 0;
  background: rgba(5,22,34, 0.8);
  transform: translateX(-100%);
  transition: transform 500ms ease-in;
}
.project-tile a p {
  position: absolute;
  bottom: 0;
  color: var(--clr-text);
  background: rgba(5,22,34, 0.8);
  padding: 0.5em;
  font-size: 1rem;
  transform: translateY(100%);
  transition: transform 500ms ease-in 500ms;
}
.project-tile:hover a h4  {
  transform: translateX(0);
}
.project-tile:hover a p {
   transform: translateY(0);
}
@media (min-width: 625px) {
  #projects__work {
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (min-width: 925px) {
  #projects__work {
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
  }
}
/* ******* Profile section ******* */

#profile-section {
  width: 100%;
  height: 400px;
  padding: 3em 0;
  display: flex;
  position: relative;
  flex-direction: column;
}
#profile-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--clr-background);
  opacity: .5;
  z-index: -5;
}
#profile-section > h2 {
  font-size: 1.75rem;
  text-align: center;
  flex: 0.2;
}
.mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #1f1e1c;
    border-top: none;
    width: 290px;
    height: 200px;
    border-radius: 0 0 10px 10px;  
    background: #272723;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    z-index: -10;
}
#message-box {
   overflow: hidden; 
}
.messages {
    display: flex;
    flex-direction: column;
}

.message {
    height: 30px;
    background: linear-gradient(to left,#fe5b78, #3b76ff);
    width: 6.5ch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    transform: translateY(90px);
    will-change: transform;
}

.message1 {
    transition: transform 500ms linear 4s;
    align-self: flex-end;
    border-radius: 20px 10px 0 20px;
}

.message2 {
    transition: transform 500ms linear 7s;
    border-radius: 10px 20px 20px 0;
}
.message1.up {
    transform: translateY(50px);
}
.message2.up {
    transform: translateY(0);
}
.mobile .bottom {
    background: #1f1e1c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5em;
    
}
.mobile .bottom > div {
    flex: 0.8;
    background: #272723;
    padding: 0.5rem;
    border-radius: 50px;
    height: 32px;
    display: flex;
    align-items: center;
}

.mobile > .bottom  > div > div {
    width: 0ch;
    letter-spacing: 1px;
    text-transform: capitalize;
    overflow: hidden;
    border-right: 1px solid;
}
.mobile > .bottom  > div > div.up {
  animation: typing 3s ease-in-out 1s 2;
}
.mobile .bottom i {
    color: aqua;
    font-size: 32px;
    text-align: center;
    flex: 0.2;
}

@keyframes typing {
    0% {
        width: 0ch;
         border-right: none;
    } 10% {
        width: 0ch;
        border-right: 1px solid;
    } 20% {
        width: 1.6ch;
        border-right: none;
    } 30% {
        width: 1.6ch;
        border-right: 1px solid;
     } 40% {
        width: 2.7ch;
        border-right: none;
    } 50% {
        width: 2.7ch;
        border-right: 1px solid;
    } 60% {
        width: 3.2ch;
        border-right: none;
    } 70% {
        width: 3.2ch;
        border-right: 1px solid;
    } 80% {
        width: 3.7ch;
        border-right: none;
    } 90% {
        width: 3.7ch;
        border-right: 1px solid;
    }100% {
        width: 4.7ch;
        border-right: none;
    }
}

.profiles {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile {
  padding: 0.5em;
}

.profile:hover .fab {
  transform: rotate(360deg);
}

.fab {
  font-size: 1.5rem;
  color: var(--clr-primary);
  transition: transform 1s;
}

block {
  color: var(--clr-primary);
  display: none;
}

@media (min-width: 500px) {
  block{
    display: inline;
    padding-left: 0.25em;
  }
}

/* ******** Footer section ********* */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100vw;
  background: rgb(0 0 0 / 0.4);
  font-size: 0.9rem;
  text-align: center;
}

/* Animation */

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.1);
  } 100% {
    opacity: 1;
    tranform: scale(1);
  }
  
}
